*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.contenedor {
    width: 100%;
    height: 400px;
    border: 1px solid black;
}


/*Estilos para el header*/
header {
    width: 100%;
    height: 50px;
    background-color: rgb(57, 130, 224);
}

.container-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.header__nav {
    flex-grow: 3;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    padding-right: 20px;
    color: white;
}

.header__item {
    margin: 0px 15px;
    padding-bottom: 3px;
    display: inline-block;
}

.header__item a {
    color: white;
}


/*Estilos para la portada*/
.cover {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 8px 25px;
    border-radius: 20px;
    background-color: rgb(57, 130, 224);
    color: white;
    margin-top: 20px;
}

/*Estilos para los servicios*/
.services {
    margin: 30px auto;
    border: 1px solid black;
    width: 90%;
    height: 300px;    
}

.services__title {
    text-align: center;
    margin: 20px 0px;
}

.services__cards {
    width: 80%;
    height: 200px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 30px;
    justify-content: space-around;
}

/*Estilos de las cards*/
.card {
    width: 300px;
    height: 400px;
}

.card__title {
    margin-bottom: 10px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
        
/* Pagina de login y register */
.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;   
    align-items: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    gap: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    min-width: 200px;
    width: 400px;
    box-shadow: 0px 0px 10px -1px rgba(97, 97, 97, 0.45);
    

    
}

.form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form div input{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 10px;
}

.send{
    background-color: rgb(57, 130, 224);
    border-radius: 3px;
    color: white;
    border: none;
    padding: 8px;
}

.send:hover{
    background-color: rgb(50, 114, 199);
}

.text{
    text-align: center;
    color: rgb(43, 43, 43);
}

a{
    text-decoration: none;
    color: rgb(50, 114, 199);
}

img{
    width: 80px;
    height: 80px;
}









        